<nav class="navbar" role="navigation">
<div id="footer">
  <div class="col-xs-12 navbar-default navbar-fixed-bottom">
  <div class="row" id="bottomNav">
    <div class="col-xs-3 text-center"><a href="/"><i class="glyphicon glyphicon-home"></i><br>Home</a></div>
    <div class="col-xs-3 text-center"><a href="/editSchedule"><i class="glyphicon glyphicon-list-alt"></i><br>Task</a></div>
    <div class="col-xs-3 text-center"><a href="/blank"><i class="glyphicon glyphicon-info-sign"></i><br>Info</a></div>
    <div class="col-xs-3 text-center"><a href="/login"><i class="glyphicon glyphicon-log-out"></i><br>Log out</a></div>
  </div>
  </div>
</div>
</nav>
	