<nav class="navbar" role="navigation">
<div>
  <div class="col-xs-12 navbar-default navbar-fixed-top">
  <div class="row" id="topNav">
    <div class="col-xs-3 text-center"><a href="#"></a></div>
    <div class="col-xs-6 text-center"><a href="#"></a><font style="color:black"><h4>I Schedule 4 U</h4></font></div>
    <div class="col-xs-3 text-center"><a href="/addTask"><i class="glyphicon glyphicon-plus" style="padding-top:11px"></i></a></div>
  </div>
  </div>
</div>
</nav>
	