<!doctype html>
<html>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src='js/cookie.js'></script>
	<script src="js/newTask.js"></script>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/datepicker.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
	<script>
		//checkCookie();
		var version = checkVersion();
		if (version == "a")
			window.location = "/addTask";
	</script>
</head>

<body>
<nav class="navbar" role="navigation">
<div>
  <div class="col-xs-12 navbar-default navbar-fixed-top">
  <div class="row" id="topNav">
    <div class="col-xs-3 text-center" id="cancelBtn"><a href="#"><h4>Cancel</h4></a></div>
    <div class="col-xs-6 text-center"><a href="#"></a><font style="color:black"><h4>I Schedule 4 U</h4></font></div>
    <div class="col-xs-3 text-center" id="submitBtn"><a href="#"><h4>Create</h4></a></div>
  </div>
  </div>
</div>
</nav>
	
<div class = "container">
	<div class = "header" style="margin-bottom:5%">
		<h2 align="center" style="margin-top:5%" ><font color="#FFFFFF"> New Task </font></h2>
	</div>
	<div class = 'error' id="addError"><br></div>
	<div class = "form" align="left">
		<form id ='taskForm' method = "POST" name = "taskForm">
		<p><font color="#FFFFFF" > Name: </font><br><input type="text" name="taskName" id = "taskName"></input> </p>
		<p><font color="#FFFFFF"> Duration: </font> <br>
			<!-- hour selector -->
			<select id = 'durationHour'>
				<option value="00">0 hours</option>
				<option value="01">1 hours</option>
				<option value="02">2 hours</option>
				<option value="03">3 hours</option>
				<option value="04">4 hours</option>
				<option value="05">5 hours</option>
				<option value="06">6 hours</option>
				<option value="07">7 hours</option>
				<option value="08">8 hours</option>
				<option value="09">9 hours</option>
				<option value="10">10 hours</option>
				<option value="11">11 hours</option>
				<option value="12">12 hours</option>
				<option value="13">13 hours</option>
				<option value="14">14 hours</option>
				<option value="15">15 hours</option>
				<option value="16">16 hours</option>
				<option value="17">17 hours</option>
				<option value="18">18 hours</option>
				<option value="19">19 hours</option>
				<option value="20">20 hours</option>
				<option value="21">21 hours</option>
				<option value="22">22 hours</option>
				<option value="23">23 hours</option>
			</select>
			<!-- min selector -->
			<select id = 'durationMinutes'>
				<option value="00">0 minutes</option>
				<option value="01">1 minutes</option>
				<option value="02">2 minutes</option>
				<option value="03">3 minutes</option>
				<option value="04">4 minutes</option>
				<option value="05">5 minutes</option>
				<option value="06">6 minutes</option>
				<option value="07">7 minutes</option>
				<option value="08">8 minutes</option>
				<option value="09">9 minutes</option>
				<option value="10">10 minutes</option>
				<option value="11">11 minutes</option>
				<option value="12">12 minutes</option>
				<option value="13">13 minutes</option>
				<option value="14">14 minutes</option>
				<option value="15">15 minutes</option>
				<option value="16">16 minutes</option>
				<option value="17">17 minutes</option>
				<option value="18">18 minutes</option>
				<option value="19">19 minutes</option>
				<option value="20">20 minutes</option>
				<option value="21">21 minutes</option>
				<option value="22">22 minutes</option>
				<option value="23">23 minutes</option>
				<option value="24">24 minutes</option>
				<option value="25">25 minutes</option>
				<option value="26">26 minutes</option>
				<option value="27">27 minutes</option>
				<option value="28">28 minutes</option>
				<option value="29">29 minutes</option>
				<option value="30">30 minutes</option>
				<option value="31">31 minutes</option>
				<option value="32">32 minutes</option>
				<option value="33">33 minutes</option>
				<option value="34">34 minutes</option>
				<option value="35">35 minutes</option>
				<option value="36">36 minutes</option>
				<option value="37">37 minutes</option>
				<option value="38">38 minutes</option>
				<option value="39">39 minutes</option>
				<option value="40">40 minutes</option>
				<option value="41">41 minutes</option>
				<option value="42">42 minutes</option>
				<option value="43">43 minutes</option>
				<option value="44">44 minutes</option>
				<option value="45">45 minutes</option>
				<option value="46">46 minutes</option>
				<option value="47">47 minutes</option>
				<option value="48">48 minutes</option>
				<option value="49">49 minutes</option>
				<option value="50">50 minutes</option>
				<option value="51">51 minutes</option>
				<option value="52">52 minutes</option>
				<option value="53">53 minutes</option>
				<option value="54">54 minutes</option>
				<option value="55">55 minutes</option>
				<option value="56">56 minutes</option>
				<option value="57">57 minutes</option>
				<option value="58">58 minutes</option>
				<option value="59">59 minutes</option>
			</select>
		</p>
		<p><font color="#FFFFFF"> Type: </font> <br> 
		<select class="setTypeList" id="TypeList">
			<!--<option value="blank"> </option>-->
			<option value="Other">Other</option>
			<option value="Class">Class</option>
			<option value="Homework">Homework</option>
			<option value="Programming">Programming Assignment</option>
			<option value="Exam">Midterm/Final</option>
			<option value="Reading">Reading</option>
			<option value="Fitness">Fitness</option>
		</select>
	</p>
		<div id ="AdvancedButton">
			<p style="color:#FFFFFF"> <u>Advanced Settings</u> </p>
		</div>
		<div id = "Advanced">
		<p><font color="#FFFFFF"> Set Time: </font>
			<label class="ios7-switch">
				<input type="checkbox" name="setTimeCheck" id="setTimeCheck"></input>
				<span></span>
			</label>
			<div id="setTimeCheckBox" style="margin-left:5%">
				<font color='#FFFFFF'>Start Time:</font><br>
				<input type="time" id="setTimeStart" value="08:00"></input><br>
				<font color='#FFFFFF'>End Time:</font><br>
				<input type="time" id="setTimeEnd" value="08:00"></input>
			</div>
		</p>
		<p><font color="#FFFFFF"> Do you know location? </font>
			<label class="ios7-switch">
				<input type="checkbox" name="setLocation" id="setLocation">
				</input><span></span>
			</label>
			<br>
			<input style="width:100%" type="text" class="setLocationCheckBox" id="setLocationBlank"  placeholder="type specific location for job if exist"></input>
		</p>
		<p style="margin-top:1.5%"><font color="#FFFFFF">Priority: </font>
		<select id="setPriority">
			<option value="High">High</option>
			<option value="Medium">Medium</option>
			<option value="Low">Low</option>
		</select>
		</p>
		<p style="margin-top:1%"><font color="#FFFFFF">Does it Repeat? </font>
			<label class="ios7-switch">
				<input type="checkbox" class="repeated" id="setRepeat" name="repeated">
				</input><span></span>
			</label>
		</p>
		<ul id="dateRepeatChecked" class="dateRepeatChecked">
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2%">Everyday</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated0"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2%">Mon</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated1"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2.2%">Tue</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated2"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:1.9%">Wed</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated3"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2.2%">Thu</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated4"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2.8%">Fri</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated5"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2.5%">Sat</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated6"></input><span></span>
			</label>
			<br>
			<font color="#FFFFFF"  style="font-size:12px;margin-right:2.1%">Sun</font>
			<label class="ios7-switch">
				<input type="checkbox" id="repeated7"></input><span></span>
			</label>
			<br>
		</ul>
		<div id='setDate'>
			<p><font color="#FFFFFF">Date: 
				<input class="span2" id="setDateBox" size="16" type="text">
			</p>
		</div>
		
		<!--<p><font color="#FFFFFF"> Does this relate to any other task? </font>
			<label>
				<input type="checkbox" class="setTag" id="setTag">
				</input>
			</label>
			<br>
			<select class="setTagList" id="TagList">
				<option value="blank"> </option>
				<option value="other">Other</option>
			</select>
			<input style="margin-left:3%" type="text" id="otherTag" placeholder="Enter Tag"></input>
		</p>
		<br>-->

</div>
{{>botNav}}
</body>
</html>
