<!doctype html>
<html>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src='js/moment.min.js'></script>
	<script src='js/cookie.js'></script>
	<script src="js/editSchedule.js"></script>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
	<script>
		var version = checkVersion();
		if (version == "b")
			window.location = "/editScheduleAlt";
	</script>
	{{> tracking_code_script}}
	{{> headerPartials home}}
</head>

<body>
<div class = "container">
	<div class = "header" style="margin-bottom:5%">
		<h2 align="center" style="margin-top:5%" ><font color="#FFFFFF"> Edit Schedule </font></h2>
	</div>
	<div class = "list" align="left">
		<h3><font color="#FFFFFF">Current Tasks</font></h3>
		<div class = "clicktoedit" id = "clicktoedit">
			<p style="margin-top:0.5%">
				<font  color="#FFFFFF"> Click a task below to edit</font> 	
				<a href='/addTask' style="margin-left:1%">Add task?</a>
			</p>
		</div>
		
		<div id = "displaySchedule">
			<div class = 'userTask' id = 'task1'>
			</div>
		</div>
	</div>
</div>

</body>
</html>
