<!doctype html>
<html>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src='js/moment.min.js'></script>
	<script src='js/cookie.js'></script>
	<script src="js/editSchedule.js"></script>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
	<script>
		checkCookie();
	</script>
	{{> tracking_code_script}}
</head>

<body>
{{>topNav}}
<div class = "container">
	<div class = "header" style="margin-bottom:2%">
		<h2 align="center" style="margin-top:2%" ><font class="word2">Current Tasks</font></h2>
	</div>
	<div class = "list" align="left">
		<div class = "clicktoedit" id = "clicktoedit">
			<p style="margin-top:0.5%">
				<font class="word1"> Click a task below to edit</font> 	
			</p>
		</div>
		
		<div id = "displaySchedule">
			<div class = 'userTask' id = 'task1'>
			</div>
		</div>
	</div>
</div>
{{>botNav}}
</body>
</html>
