<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
</head>

<body>
		<!-- this is a comment in HTML -->
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">IS4U</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/addTask">Add Task</a></li>
				<li class="active"><a href="/editSchedule">Edit Schedule<span class="sr-only">(current)</span></a></li>
				<li><a href="/blank">About Us</a></li>
				<li><a href="/blank">Help</a></li>
				<li><a href="/login">Log out</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
 <div class = "container">
	<div class = "header" style="margin-bottom:5%">
		<h2 align="center" style="margin-top:5%" ><font color="#FFFFFF"> Edit Schedule </font></h2>
	</div>
	
	<div class = "list" align="left">
		<h3><font color="#FFFFFF">Current Tasks</font></h3>
		<p style="margin-top:0.5%"><font  color="#FFFFFF"> Click a task below to edit </font> </p>
		<br>
		<br>
		<p style="background-color:#222222;padding:0.5%">
			<font color="#FFFFFF">COGS 120</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Duration: 1 hours 20 minute</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Priority: High</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Location: CICC 101</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">12:30AM ~ 1:50PM</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Tues, Thurs</font>
		</p>
		<br>
		<p style="background-color:#222222;padding:0.5%">
			<font color="#FFFFFF">CSE 165</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Duration: 1 hours 20 minute</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Priority: High</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Location: WLH 2206</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">2:00PM ~ 3:20PM</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Tues, Thurs</font>
		</p>
		<br>
		<p style="background-color:#222222;padding:0.5%">
			<font color="#FFFFFF">CSE 165</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Duration: 1 hours 20 minute</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Priority: High</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Location: WLH 2206</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">2:00PM ~ 3:20PM</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Tues, Thurs</font>
		</p>
		
		<br>
		<p style="background-color:#222222;padding:0.5%">
			<font color="#FFFFFF">CSE 169</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Duration: 1 hours 20 minute</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Priority: High</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Location: EBU3B 4140</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">5:00PM ~ 6:20PM</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Mon, Wed</font>
		</p>
		
		<br>
		<p style="background-color:#222222;padding:0.5%">
			<font color="#FFFFFF">HCI group meeting -> COGS 120</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Duration: 3 hours 00 minute</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Priority: High</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Location: Geisel 625</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">12:30PM ~ 3:30PM</font><br>
			<font style="margin-left:0.5%" color="#FFFFFF">Mon</font><br>
		</p>
		
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
	
</html>
