<!doctype html>
<html>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src='js/moment.min.js'></script>
	<script src='js/cookie.js'></script>
	<script src="js/editSchedule.js"></script>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
	<!-- Check if there is an user logged in -->
	<script>checkCookie()</script>
</head>

<body>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">IS4U</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/addTask">Add Task</a></li>
				<li class="active"><a href="/editSchedule">Edit Schedule<span class="sr-only">(current)</span></a></li>
				<li><a href="/blank">About Us</a></li>
				<li><a href="/blank">Help</a></li>
				<li><a href="/login">Log out</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>

<div class = "container">
	<div class = "header" style="margin-bottom:5%">
		<h2 align="center" style="margin-top:5%" ><font color="#FFFFFF"> Edit Schedule </font></h2>
	</div>
	<div class = "list" align="left">
		<h3><font color="#FFFFFF">Current Tasks</font></h3>
		<div class = "clicktoedit" id = "clicktoedit">
			<p style="margin-top:0.5%"><font  color="#FFFFFF"> Click a task below to edit </font> </p>
		</div>
		<br>
		<div id = "displaySchedule">
			<div class = 'userTask' id = 'task1'>
			</div>
		</div>
	</div>
</div>

</body>
</html>
