<!doctype html>
<html>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src='js/moment.min.js'></script>
	<script src='js/fullcalendar.js'></script>
	<script src='js/cookie.js'></script>
	<script src='js/index.js'></script>
<head>
	<meta charset="utf-8">
	<title>I Schedule 4 U</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/fullcalendar.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
	<script>
		checkCookie();
	</script>
</head>

<body>
{{>topNav}}
<div class = "container">
	<div class = "images" style="margin-top:2%;padding-bottom:5%" align="center">
		<h2> Current Schedule</h2>
		<br>
		<br>
		<div class='schedule' id='calendar'></div>
	</div>
</div>
{{>botNav}}
</body>
</html>
