<!doctype html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
  {{> tracking_code_script}}
</head>

<body>
	<div class='container'>
    <div class = "header">
      <h1 style="margin-top:5%">I Schedule 4 U</font></h1>
      <div style='height:10px;clear:both;display:block'></div>
    </div>
    <div class="word1" style='height:10px;clear:both;display:block;font-size:120%'>
      <p><i class="glyphicon glyphicon-time"></i>  Manage your time.</p>
      <p><i class="glyphicon glyphicon-list"></i>  Keep track of your tasks.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="login-error"><br></div>
    <form id='loginForm' method="POST" name="loginForm">
      <input class='blank' type='email' name='email' id='email' placeholder='Email' required autofocus/>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='password' id='password' placeholder='Password' required/>
      <div class='checkbox'>
        <input type='checkbox' name='remember-me' id='remember-me'/>
        <label for='remember-me' class="word1" style="font-size:120%">Keep me logged in</label>
        <div style='height:10px;clear:both;display:block'></div>
      </div>
      <button id="submitBtn" class="btn btn-primary btn-lg" style="width:100%">LOG IN</button>
      <div style='height:10px;clear:both;display:block'></div>
    </form>
    <a href="/signup"><button id="signupBtn" class="btn btn-info btn-lg"  style="width:100%">SIGN UP</button></a>
    <div style='height:20px;clear:both;display:block'></div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
