<!doctype html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
</head>

<body>
	<div class='container'>
    <div class = "header">
      <h1 style="margin-top:5%">I Schedule 4 U</font></h1>
      <a href="/signup" class="linkcolor">New User?</a>
      <div style='height:10px;clear:both;display:block'></div>
    </div>
    <div class="login-error"></div>
    <form id='loginForm' method="POST" name="loginForm">
      <input class='blank' type='email' name='email' id='email' placeholder='Email' required autofocus/>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='password' id='password' placeholder='Password' required/>
      <div class='checkbox'>
        <input type='checkbox' name='remember-me' id='remember-me'/>
        <label for='remember-me' class="word1">Keep me logged in</label>
      </div>
      <button id="submitBtn" class="btn btn-primary btn-lg">Log in!</button>
    </form>
    <br> <br>

    <div class="word1" style='height:10px;clear:both;display:block;font-size:120%'>
      <p> This application is designed for students to keep track of their tasks,
       be it classes, homeworks, midterms and so forth. One can start by
       creating an account, signing in and adding a few tasks.</p>
  </div>
     </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
