<!doctype html>
<html>
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
</head>

<body>
	<div class='container'>
    <div class = "header">
      <button id="back" class="btn btn-primary btn" onClick="location.href='/login'" style="float: right;">Back</button>
      <!--<h1 align="center" style="margin-top:5%">I Schedule 4 U</h1>-->
      <h1 style="margin-top:5%">I Schedule 4 U</font></h1>
  </div>
    <form action='#' class='form-signin' role='form'>
      <input type='text' class='form-control' placeholder='Username' required autofocus>
      <div style='height:10px;clear:both;display:block'></div>
      <input type='email' class='form-control' placeholder='Email' required>
      <div style='height:10px;clear:both;display:block'></div>
      <input type='password' class='form-control' placeholder='Password' required>
      <div style='height:10px;clear:both;display:block'></div>
      <input type='password' class='form-control' placeholder='Confirm Password' required>
      <div style='height:10px;clear:both;display:block'></div>
      <button class='btn btn-lg btn-primary btn-block' type='submit'>Sign Up</button>
    </form>
  </div>
</body>
</html>	