<!doctype html>
<html>
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
</head>

<body>
	<div class='container'>
    <div class = "header">
      <button id="back" class="btn btn-primary btn" onClick="location.href='/login'" style="float: right;">Back</button>
      <!--<h1 align="center" style="margin-top:5%">I Schedule 4 U</h1>-->
      <h1 style="margin-top:5%">I Schedule 4 U</font></h1>
    </div>
    <div class="signup-error"></div>
    <form id='signupForm' method="POST" name="signupForm">
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='email' name='email' id='email' placeholder='Email' required>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='password' id='password' placeholder='Password' required>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='confirmPass' id='confirmPass' placeholder='Confirm Password' required>
      <div style='height:10px;clear:both;display:block'></div>
      <button id='submitBtn' class='btn btn-lg btn-primary btn-block'>Sign Up</button>
    </form>
  </div>
</body>
</html>	