<!doctype html>
<html>
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/project.css" rel="stylesheet">
  {{> tracking_code_script}}
</head>

<body>
	<div class='container'>
    <div class = "header">
      <button id="back" class="btn btn-primary btn" onClick="location.href='/login'" style="float: right;">Back</button>
      <h1 style="margin-top:5%">I Schedule 4 U</font></h1>
    </div>
    <div class="word2" style='height:10px;clear:both;display:block;font-size:120%'>
      <p><i class="glyphicon glyphicon-time"></i>  Manage your time.</p>
      <p><i class="glyphicon glyphicon-list"></i>  Keep track of your tasks.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="signup-error"><br></div>
    <form id='signupFo' method="POST" name="signupForm">
      <input class='blank' type='email' name='email' id='email' placeholder='Email' required autofocus/>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='password' id='password' placeholder='Password' required>
      <div style='height:10px;clear:both;display:block'></div>
      <input class='blank' type='password' name='confirmPass' id='confirmPass' placeholder='Confirm Password' required>
      <div style='height:20px;clear:both;display:block'></div>
      <button id='submitBtn' class='btn btn-lg btn-primary btn-block'>SIGN UP</button>
    </form>
    <div style='height:20px;clear:both;display:block'></div>
  </div>
  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/signup.js"></script>
</body>
</html>	