.header h1{
	font-size: 45px;
	color:#FFFFFF;
}

.main button {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */

	font-size: 24px;
	color:#333333;
	background-color: #FFFFFF;
}

body{
	background-image: url('../background.png');
	height: 300px;
}

.images h2{
	color:#FFFFFF;
}
